<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
    <ul>
       <% @results.each do |result| %>
         <h3><%= result[:chapter] %></h3>
         <ul>
           <% result[:paragraphs].each do |index, paragraph| %>
             <li><a href="/chapters/<%= result[:number] %>#paragraph<%= index %>"><%= highlight(paragraph, params[:query]) %></a></li>
           <% end %>
         </ul>
       <% end %>
    </ul>
  <% end %>
<% end %>
